name: Update Test App

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Release"]
    types:
      - completed
jobs:
  updateTestApp:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Build Test App
        run: |
            set -eo pipefail
            echo Building Test App
            make build-test-apps
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
            commit-message: Update test app with new release ${{ github.event.release.tag_name }}
            title: Update Test App
            body: updates the test app with new release ${{ github.event.release.tag_name }}
            branch: update-test-app
            base: main

